body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box; 
}

img {
    border: 1.75px solid #1009E5;
}


#home-body {
    background-color: #1009E5;
    color: white;
    overflow: hidden;
}

#home-body .menu ul li a {
    color: white !important;
}

/* MENÚ */

#home-body .menu {
    background-color: #1009E5;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    position: sticky;
    background-color: white;
    /* width: 100%; */
    top: 0;
    z-index: 20;
    box-shadow: 0px 2px 5px #1009E5;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #1009E5;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #FF8A73; 
    /* ¡CAMBIAR COLOR A NARANJA DE BEMETA! */
}

.menu div a {
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 1.75em;
}

/* LOGO BEMETA SOBRE EL MENÚ EN EL RESTO DE LA WEB */

.dynamic-heading {
    font-size: 3rem; 
    transition: font-size 0.3s ease; 
}

.dynamic-heading.shrink {
    font-size: 1.5rem; 
}

/* HOME PAGE */

.h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

h1 {
    font-size: 4rem;
    margin: 0;
    font-weight: 400;
    z-index: 1;
}

/* IMAGEN QUE SE MUEVE EN LA HOMEPAGE */

.home-container {
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden; /* Evita que el contenido del contenedor provoque desplazamiento */
    background-color: transparent;
    z-index: -1;
}


.moving-image {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    will-change: transform;
    transition: transform 0.05s ease-out; /* Transición para movimientos suaves */
}

/* COLLECTION PAGE */

    /* NEWSLETTER */
    
.newsletter-banner {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #1009E5; /* Fondo amarillo */
    color: white; /* Texto negro */
    text-align: center;
    font-size: 0.75em; /* Tamaño del texto */
    padding: 10px 0; /* Espaciado vertical */
    z-index: 20; /* Asegura que esté encima del menú */
}

h2 {
    font-size: 3em;
    font-weight: 400;
    color: #1009E5;
    margin-bottom: 25px;
}

#collection {
    text-decoration: auto;
    border-bottom: 1.5px solid #1009E5;
}

/* TEXTO EN MOVIMIENTO */

.text-banner {
    position: relative;
    width: 100%;
    overflow: hidden; 
    background-color: #1009E5;
    padding: 10px 0; 
}

.text-banner span {
    display: inline-block;
    white-space: nowrap;
    color: white; 
    font-size: 1.25em; 
    animation: moveText 20s linear infinite; 
}


@keyframes moveText {
    from {
        transform: translateX(100%); /* Inicia fuera de la pantalla, a la derecha */
    }
    to {
        transform: translateX(-100%); /* Termina fuera de la pantalla, a la izquierda */
    }
}


.section h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 50px;
    color: #1009E5;
}

/* CARDS COLLECTION PAGE */

.card {
    border: none;
    border-radius: 0px;
}

.card img {
    border: 1.75px solid #1009E5;
    border-radius: 0px;
    height: 600px;
    object-fit: cover;
    width: 100%; 
}

.card-body {
    text-align: left !important;
    color: #1009E5;
}

.card-title {
    font-size: 1em;
}

/* IMAGENES GRANDES BAJO LAS CARDS */

.fullscreen-image {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1; /* Aseguramos que estén detrás del contenido */
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantén la proporción de la imagen */
}


/* PÁGINA DE CONTACTO */

.consulta {
    font-weight: 600;
    text-align: center;
    padding: 10rem 3rem 3rem 3rem;
    font-size: 4rem;
}

.texto-consulta {
    color:#1009E5;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 15vw 1rem 15vw;

}

.sect-form {
    padding: 7rem 12rem;
    border: #1009E5 1px solid;
    margin: 7rem 7rem 3rem 7rem;
}

.form-contacto {
    color: #1009E5;
}

.form-control {
    border: #1009E5 1px solid;
    background-color: #1009e513;
    color: #1009E5;
}

.btn-enviar {
    background-color: #1009E5;
    width: 100%;
    font-weight: 600;
    border: 0px;
}

.btn-enviar:hover {
    transition: 0.3s;
    background-color: #FF8A73;
    color: #1009E5;
}

.horario {
   color: #1009E5;
   font-weight: 700;
   margin: 0rem 7rem;
}

.horas {
    font-weight: 300;
}

.modal-body {
    background-color: #1009E5;
    color: white;
}

footer {
    background-color: #1009E5;
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 2rem 0rem;
    overflow-x: hidden;
    

}

footer h5 {
    font-weight: 700;
}

footer a {
    margin: 0;
    color: white;
    text-decoration: none;
}

.ft-hover:hover {
    transition: 0.3s;
    color: #FF8A73;
}

.rights {
    font-size: 0.8rem;
}









/* RESPONSIVE */


/* MENÚ HAMBURGUESA RESPONSIVE */
@media screen and (max-width: 1024px) {
    /* PÁGINA DE CONTACTO */

    .sect-form {
        padding: 4rem;
    }
    
}

@media screen and (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .menu ul.show {
        display: flex;
        margin-top: 100px;
        transition: transform 0.05s ease-out;
        background-color: white;
        box-shadow: 5px 2px 2px #1009E5;
    }

    #home-menu ul.show {
        background-color: #1009E5;
        margin-top: 50px;
    }

    i {
        color: #1009E5;
    }

    .home-menu {
        color: white;
    }

    .menu-toggle {
        display: flex;
    }

    .menu ul li {
        margin: 10px 0; 
        text-align: center;
    }

    .card img {
        height: 500px; 
    }

    .newsletter-banner {
        font-size: 1rem; 
        padding: 8px 0; /
    }

    /*PÁGINA DE CONTACTO */

    .form-contacto {
        margin: 3rem;
    }

    .horario {
        font-size: 0.8rem;
        margin: 2rem;
    }

}

@media screen and (max-width: 430px){
    
    /* PÁGINA DE CONTACTO */

    .consulta {
        font-size: 3rem;
        padding-top: 4rem;
    }

    .texto-consulta {
        font-size: 1rem;
    }

    .form-contacto {
        font-size: 0.8rem;
        padding: 2rem;
        margin: 2rem;
    }
    
    .horario {
        font-size: 0.7rem;
        margin: 2rem;
    }

    footer {
        padding: 0rem 0.8rem;

    }

    footer a, footer h5{
        font-size: 0.6rem;
    }

    .rights {
        font-size: 0.4rem;
    }
}


